@model BugTracker.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}

<div class="container ">
    <div class="col-md-offset-4 col-md-4 tile p-15">
        

        <div class="row">
            <div class="col-md-12">
                <h2 class="center" style="margin-bottom: 15px;">User Details</h2>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LastName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DisplayName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DisplayName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.UserName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UserName)
                    </dd>

                </dl>
            </div>
            <div class="col-md-12">
                <h2 class="center" style="margin-bottom: 15px;">User Image</h2>
                <hr />
                <div class="col-md-12 p-15">
                @if (Model.DisplayImage != null)
                {
                    <img class="center img-responsive" src="@Model.DisplayImage" />
                }
                else
                {
                    <h3>No Image to Display</h3>
                }
                </div>
            </div>
            <div class="col-md-12">
                <p>
                    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div>
        </div>
    </div>
    </div>
