@using Microsoft.AspNet.Identity
@using BugTracker.Helpers

<!DOCTYPE html>
<html>
<head>

    <title>Error Management Systems</title>
    <link rel="icon" type="image/png" href="~/Assets/images/favicons/favicon-16x16.png" sizes="16x16" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">
    <meta name="description" content="Error Management Software">
    <meta name="keywords" content="error management, bug tracker">



    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <!--Came with DataTables-->


    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet">
    @*<link href="~/Assets/css/animate.min.css" rel="stylesheet">*@
    <link href="~/Assets/css/font-awesome.min.css" rel="stylesheet">
    @*<link href="~/Assets/css/form.css" rel="stylesheet">*@
    <link href="~/Assets/css/calendar.css" rel="stylesheet">
    <link href="~/Assets/css/style-admin.css" rel="stylesheet">
    <link href="~/Assets/css/icons.css" rel="stylesheet">
    <link href="~/Assets/css/generics.css" rel="stylesheet">
    <link href="~/Assets/css/bootstrap-multiselect.css" rel="stylesheet" />
    <link href="~/Assets/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.6/sweetalert2.min.css" rel="stylesheet" />

</head>
<body id="skin-blur-lights">
    <header id="header" class="media">
        <a href="" id="menu-toggle"></a>
        @*<a class="logo pull-left" href="index.html">Error Management</a>*@
        @Html.ActionLink("EMS Landing Page", "LandingPage", "Home", new { area = "" }, new { @class = "logo pull-left" })
        @{
            var ticketHelper = new TicketsHelper();

        }
        <div class="media-body">
            <div class="media" id="top-menu">
                <div class="pull-left tm-icon">
                    <a data-drawer="messages" class="drawer-toggle" href="">
                        <i class="sa-top-message"></i>
                        <i class="n-count animated">@ticketHelper.UserTicketNotificationsUnread()</i><!--Change this image-->
                        <span>Notifications</span>
                    </a>
                </div>
                <div class="pull-left tm-icon">
                    <a data-drawer="notifications" class="drawer-toggle" href="">
                        <i class="sa-top-updates"></i>
                        <i class="n-count animated">@ticketHelper.UserTicketHistories()</i>
                        <span>Histories</span>
                    </a>
                </div>

                <div id="time" class="pull-right">
                    <span id="hours"></span>
                    :
                    <span id="min"></span>
                    :
                    <span id="sec"></span>
                </div>

                @*<div class="media-body">
                        <input type="text" class="main-search">
                    </div>*@
            </div>
        </div>
    </header>
    <!--Start MVC Header-->
    <!--End MVC Header-->
    <!--Cut from index and put in layout Below-->
    <div class="clearfix"></div>

    <section id="main" class="p-relative" role="main">

        <!-- Sidebar -->
        <aside id="sidebar">

            <!-- Sidbar Widgets -->
            <div class="side-widgets overflow">
                <!-- Profile Menu -->
                @{ var userHelper = new UserHelper();}
                <div class="text-center s-widget m-b-25 dropdown" id="profile-menu">
                    @*<a href="" data-toggle="dropdown">*@

                    <img src="@userHelper.UserProfileImage()" class="profile-pic animated" alt="">


                    @if (Request.IsAuthenticated)
                    {
                        <h5 class="m-0">@Html.ActionLink("Hello " + StringHelpers.CreateDisplayName(User.Identity.GetUserName()), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</h5>
                    }
                    else
                    {
                        <h4>Not Logged In</h4>
                    }
                </div>

                <!-- Calendar -->
                <div class="s-widget m-b-25">
                    <div id="sidebar-calendar"></div>
                </div>


                <!-- Projects -->

                <div class="s-widget m-b-25">
                    <h2 class="tile-title">Projects on going</h2>
                    @{
                        var open = ticketHelper.GetOpenTickets();
                        var critical = ticketHelper.GetCriticalTickets();
                        var higher = ticketHelper.GetHigherTickets();
                        var high = ticketHelper.GetHighTickets();
                        var medium = ticketHelper.GetMediumTickets();
                        var low = ticketHelper.GetLowTickets();

                    }
                    <!--SideBar Slide meters-->
                    <div class="s-widget-body">
                        <div class="side-border">
                            <small>Percent Open Tickets</small>
                            <div class="progress progress-small">
                                <a href="#" data-toggle="tooltip" title="" class="progress-bar tooltips progress-bar-danger" style="width: @open%;" data-original-title="@open%">
                                    <span class="sr-only">@open% Complete</span>
                                </a>
                            </div>
                        </div>
                        <div class="side-border">
                            <small>Open/Critical Tickets</small>
                            <div class="progress progress-small">
                                <a href="#" data-toggle="tooltip" title="" class="tooltips progress-bar progress-bar-info" style="width: @critical%;" data-original-title="@critical%">
                                    <span class="sr-only">@critical% Complete</span>
                                </a>
                            </div>
                        </div>

                        <div class="side-border">
                            <small>Open/Higher Tickets</small>
                            <div class="progress progress-small">
                                <a href="#" data-toggle="tooltip" title="" class="tooltips progress-bar progress-bar-warning" style="width: @higher%;" data-original-title="@higher%">
                                    <span class="sr-only">@higher% Complete</span>
                                </a>
                            </div>
                        </div>
                        <div class="side-border">
                            <small>Open/High Tickets</small>
                            <div class="progress progress-small">
                                <a href="#" data-toggle="tooltip" title="" class="tooltips progress-bar progress-bar-success" style="width: @high%;" data-original-title="@high%">
                                    <span class="sr-only">@high% Complete</span>
                                </a>
                            </div>
                        </div>
                        <div class="side-border">
                            <small>Open/Medium Tickets</small>
                            <div class="progress progress-small">
                                <a href="#" data-toggle="tooltip" title="" class="tooltips progress-bar progress-bar-info" style="width: @medium%;" data-original-title="@medium%">
                                    <span class="sr-only">@medium% Complete</span>
                                </a>
                            </div>
                        </div>
                        <div class="side-border">
                            <small>Open/Low Tickets</small>
                            <div class="progress progress-small">
                                <a href="#" data-toggle="tooltip" title="" class="tooltips progress-bar progress-bar-success" style="width: @low%;" data-original-title="@low%">
                                    <span class="sr-only">@low% Complete</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Side Menu -->
            <ul class="list-unstyled side-menu">
                <li class="active">
                    <a class="sa-side-home" href="@Url.Action("Index", "Home")">
                        <span class="menu-item">EMS Dashboard</span>
                    </a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    if (!User.IsInRole("Admin"))
                    {
                        <li class="active">
                            <a class="sa-side-photos" href="@Url.Action("MasterIndex", "Home")">
                                <span class="menu-item">My Master Dashboard</span>
                            </a>
                        </li>
                    }
                    if (User.IsInRole("Admin"))
                    {
                        <li class="active">
                            <a class="sa-side-photos" href="@Url.Action("AdminMasterIndex", "Home")">
                                <span class="menu-item">Admin Master Dashboard</span>
                            </a>
                        </li>
                    }

                    if (!User.IsInRole("Admin"))
                    {
                        <li>
                            <a class="sa-side-page" href="@Url.Action("UserIndex", "Projects")">
                                <span class="menu-item">My Projects</span>
                            </a>
                        </li>
                        <li>
                            <a class="sa-side-typography" href="@Url.Action("UserIndex", "Tickets")">
                                <span class="menu-item">My Tickets</span>
                            </a>
                        </li>
                        <li>
                            <a class="sa-side-form" href="@Url.Action("UserIndex", "TicketComments")">
                                <span class="menu-item">My Ticket Comments</span>
                            </a>
                        </li>
                        <li>
                            <a class="sa-side-table" href="@Url.Action("UserIndex", "TicketAttachments")">
                                <span class="menu-item">My Ticket Attachments</span>
                            </a>
                        </li>
                        <li>
                            <a class="sa-side-folder" href="@Url.Action("UserIndex", "TicketNotifications")">
                                <span class="menu-item">My Ticket Notifications</span>
                            </a>
                        </li>
                        <li>
                            <a class="sa-side-chart" href="@Url.Action("UserIndex", "TicketHistories")">
                                <span class="menu-item">My Ticket Histories</span>
                            </a>
                        </li>
                    }
                    if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                    {
                        <li>
                            <a class="sa-side-page" href="@Url.Action("Index", "Projects")">
                                <span class="menu-item">All Projects</span>
                            </a>
                        </li>
                    }

                    if (User.IsInRole("Admin"))
                    {                       
                        <li>
                            <a class="sa-side-typography" href="@Url.Action("Index", "Tickets")">
                                <span class="menu-item">All Tickets</span>
                            </a>
                        </li>
                        <li>
                            <a class="sa-side-table" href="@Url.Action("Index", "TicketAttachments")">
                                <span class="menu-item">All Ticket Attachments</span>
                            </a>
                        </li>
                        <li>
                            <a class="sa-side-form" href="@Url.Action("Index", "TicketComments")">
                                <span class="menu-item">All Ticket Comments</span>
                            </a>
                        </li>
                        <li>
                            <a class="sa-side-photos" href="@Url.Action("Index", "TicketNotifications")">
                                <span class="menu-item">All Ticket Notifications</span>
                            </a>

                        </li>
                        <li>
                            <a class="sa-side-chart" href="@Url.Action("Index", "TicketHistories")">
                                <span class="menu-item">All Ticket Histories</span>
                            </a>
                        </li>
                    }
                    <li>
                        <a class="sa-side-ui" href="@Url.Action("Index", "ApplicationUsers")">
                            <span class="menu-item">Available Users</span>
                        </a>
                    </li>
                    @*<li>
                            <a class="sa-side-calendar" href="@Url.Action("Calendar", "Home")">
                                <span class="menu-item">Calendar</span>
                            </a>
                        </li>*@
                }



            </ul>

        </aside>
        <section id="content" class="container">

            <!-- Notifications Drawer- Put In Layout?? -->
            @{
                var ticketsHelper = new TicketsHelper();

                //var notifications = ticketsHelper.UserTicketNotifications();
            }
            <div id="messages" class="tile drawer animated">
                <div class="listview narrow">
                    <div class="media">
                        <a href="@Url.Action("Create", "TicketNotifications")">Send a New Message</a>
                        <span class="drawer-close">&times;</span>

                    </div>
                    <div class="overflow" style="height: 254px">
                        @foreach (var notification in ticketsHelper.UserTicketNotifications().Take(5))
                        {
                            <div class="media">
                                <div class="pull-left">
                                    <img height="40" src=@userHelper.getUserDisplayImage(notification.ChangedBy) alt="">
                                </div>
                                <div class="media-body">
                                    <small class="text-muted">
                                        From: @userHelper.getUserDisplayName(notification.ChangedBy) - To: @userHelper.getUserDisplayName(notification.UserId) - @notification.Created -> @if (!notification.HasBeenRead && userHelper.AreSameUserId(notification.UserId))
                                        {<b class="text-danger">Not Read</b>}
                                    </small><br>
                                    <a class="t-overflow" href="@Url.Action("Edit", "TicketNotifications", new {id = notification.Id })">@notification.NotifyReason</a>
                                </div>
                            </div>
                        }

                    </div>
                    <div class="media text-center whiter l-100">
                        <a href="@Url.Action("UserIndex", "TicketNotifications")"><small>VIEW ALL</small></a>
                    </div>
                </div>
            </div><!--End Notifications-->
            <!--Histories drawer-->
            <div id="notifications" class="tile drawer animated">
                <div class="listview narrow">
                    @*<div class="media">
                            <a href="@Url.Action("Create", "TicketNotifications")">Send a New Message</a>
                            <span class="drawer-close">&times;</span>

                        </div>*@
                    <div class="overflow" style="height: 254px">
                        @foreach (var history in ticketsHelper.GetUserTicketHistories())
                        {
                            <div class="media">
                                <div class="pull-left">
                                    <img width="40" src=~/Assets/images/profile-pics/einstein.jpg alt="">
                                </div>
                                <div class="media-body">
                                    <small class="text-muted">@history.Ticket.Title - @history.DateChanged - @history.Property</small><br>
                                    <a class="t-overflow" href="@Url.Action("Details", "TicketHistories", new {id = history.Id })">See Details</a>
                                </div>
                            </div>
                        }

                    </div>
                    <div class="media text-center whiter l-100">
                        <a href="@Url.Action("UserIndex", "TicketHistories")"><small>VIEW ALL</small></a>
                    </div>
                </div>
            </div>
            <!--End Extra Notifications drawer???-->
            <!-- Breadcrumb -->
            <ol class="breadcrumb hidden-xs">



                @if (User.IsInRole("Admin"))
                {
                    <li><a href="#" data-toggle="modal" data-target="#DBmodal" title="Auto-Generates New Table Data in DB">Create New Table Data</a></li>
                    @*<li>@Html.ActionLink("Create New Table Data", "CreateTableData", "Projects", null, new { title = "Auto-Generates New Table Data in DB" })</li>*@
                    @*<li>@Html.ActionLink("All Projects", "Index", "Projects")</li>
                        <li>@Html.ActionLink("All Tickets", "Index", "Tickets")</li>*@
                }
                @*else if (User.IsInRole("Project Manager"))
                    {
                        <li>@Html.ActionLink("All Projects  ", "Index", "Projects")</li>
                    }*@
                @if (Request.IsAuthenticated)
                {

                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()


                        @*<li>
                                @Html.ActionLink("Hello " + StringHelpers.CreateDisplayName(User.Identity.GetUserName()), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                            </li>*@

                        <li><a href="javascript:document.getElementById('logoutForm').submit()"><strong> Log off</strong></a></li>

                    }
                }
                else
                {

                    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

                }
            </ol>
            <h4 class="page-title">EMS DASHBOARD</h4>
            <!--Cut from index and put in layout Above-->
            <div class="p-15"></div>

            @RenderBody()

        </section>
    </section>
    <!-- Modal -->
    <div class="modal fade" id="DBmodal" role="dialog">
        <div class="modal-dialog modal-md custom-modal">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Auto-Generate Data</h2>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <p>
                                This feature allows for the creation of automatically generated data to populate the database.
                                This will be 10 projects, with 10 tickets each. Each ticket will have 10 comments and 10 attachments each. This will
                                give the user ample data to view and manipualte to become familiar with the application and its functionality.
                                Each time this function is implemented, the old data will be cleared, and new created.
                            </p>
                            <p>This process can take a few seconds, so please be patient.</p>
                            <h4 class="text-danger">You will get a pop-up notification when the process completes.</h4>
                            @Html.ActionLink("Create New Table Data", "CreateTableData", "Projects", null, new { title = "Auto-Generates New Table Data in DB" })

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>

        </div>
    </div>



    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@

    <!--Admin Dashboard stuff-->
    <script src="~/Assets/js/jquery.min.js"></script>
    <script src="~/Assets/js/jquery-ui.min.js"></script> <!-- jQuery UI -->
    <script src="~/Assets/js/jquery.easing.1.3.js"></script> <!-- jQuery Easing - Requirred for Lightbox + Pie Charts-->
    <!-- Bootstrap -->
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <!-- Charts -->
    <script src="~/Assets/js/charts/jquery.flot.js"></script> <!-- Flot Main -->
    <script src="~/Assets/js/charts/jquery.flot.time.js"></script> <!-- Flot sub -->
    <script src="~/Assets/js/charts/jquery.flot.animator.min.js"></script> <!-- Flot sub -->
    <script src="~/Assets/js/charts/jquery.flot.resize.min.js"></script> <!-- Flot sub - for repaint when resizing the screen -->
    <script src="~/Assets/js/sparkline.min.js"></script> <!-- Sparkline - Tiny charts -->
    <script src="~/Assets/js/easypiechart.js"></script> <!-- EasyPieChart - Animated Pie Charts -->
    <script src="~/Assets/js/charts.js"></script> <!-- All the above chart related functions -->
    <!--  Form Related -->
    <script src="~/Assets/js/icheck.js"></script>  @*Custom Checkbox + Radio*@
    <!-- UX -->
    <script src="~/Assets/js/scroll.min.js"></script> <!-- Custom Scrollbar -->
    <!-- Other -->
    <script src="~/Assets/js/calendar.min.js"></script> <!-- Calendar -->
    <!-- All JS functions -->

    <script src="~/Scripts/jquery.dataTables.min.js"></script>


    <script src="~/Assets/js/functions.js"></script>
    <script src="~/Assets/js/bootstrap-multiselect.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.6/sweetalert2.min.js"></script>
    <script src="~/Assets/js/BugTracker.js"></script>
    <script>

        //Jquery Tables
        $('.table').DataTable();
        $('.block-area').DataTable();

        // Sweet Alert Pop-up
        $(window).on('load', function () {
            if ('@TempData["AlertMessage"]') {
                swal('@TempData["AlertMessage"]')
            }
        });


    </script>
    <!-- All JS functions -->
    @*<script src="~/Assets/js/functions.js"></script>*@

    @RenderSection("scripts", required: false)



</body>
</html>
