@model BugTracker.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
<div class="container">
    <div class="col-md-offset-4 col-md-4 tile p-15">
        <div class="col-md-10">
            <h2>@ViewBag.Title.</h2>

            <p class="text-success">@ViewBag.StatusMessage</p>
            <div>
                <h4>Change Your Account Settings</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>Password:</dt>
                    <dd>
                        @if (!ViewBag.CanEditUser)
                        {
                            if (Model.HasPassword)
                            {
                                @Html.ActionLink("Change your password", "ChangePassword")
                            }
                            else
                            {
                                @Html.ActionLink("Create", "SetPassword")
                            }
                        }
                        else
                        {
                            <h4>This User is Protected</h4>
                        }
                    </dd>
                </dl>
            </div>
            <div>
                <h4>Change your profile picture or Display Name</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>Make Changes:</dt>
                    <dd>
                        @if (!ViewBag.CanEditUser)
                        {
                            @Html.ActionLink("Go To Change Page", "ChangeUser", "ApplicationUsers")
                        }
                        else
                        {
                            <h4>This User is Protected</h4>
                        }
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
