@using BugTracker.Models
@model LoginViewModel
@{
    ViewBag.Title = "EMS LOG-IN";
}

<div class="container">
    <div class="col-md-offset-4 col-md-4 tile p-15">
        <h1 class="center"><img src="~/Assets/images/favicons/favicon-32x32.png" /> @ViewBag.Title</h1>
        <div class="row">
            <div class="col-md-12">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal p-15", role = "form" }))
            {
                        @Html.AntiForgeryToken()


                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-6">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                                <div class="p-10">
                                    <input type="submit" value="Log in" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                     
                        <div class="center">
                            <span>
                                @Html.ActionLink("Register as a new user", "Register")
                               <br />
                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                            </span>
                        </div>
                    }
                </section>
                <h3 class="center">Login as a guest user</h3>
                <hr class="whiter" />
                <div class="Col-md-12">
                    <div class="col-md-12">
                        @using (Html.BeginForm("GuestLogin", "Account", new { guestUser = "Admin"}, FormMethod.Post, new { @class = "form-horizontal p-15" }))
            {
                            @Html.AntiForgeryToken()
                            <input type="submit" value="Administrator" class="btn btn-default max-width" />

                        }
                    </div>
                    <div class="col-md-12">
                        @using (Html.BeginForm("GuestLogin", "Account", new { guestUser = "Project Manager" }, FormMethod.Post, new { @class = "form-horizontal p-15" }))
                        {
                            @Html.AntiForgeryToken()
                            <input type="submit" value="Project Manager" class="btn btn-default max-width" />

                        }
                    </div>
                    <div class="col-md-12">
                        @using (Html.BeginForm("GuestLogin", "Account", new { guestUser = "Developer" }, FormMethod.Post, new { @class = "form-horizontal p-15" }))
                        {
                            @Html.AntiForgeryToken()
                            <input type="submit" value="Developer" class="btn btn-default max-width" />

                        }
                    </div>
                    <div class="col-md-12">
                        @using (Html.BeginForm("GuestLogin", "Account", new { guestUser = "Submitter" }, FormMethod.Post, new { @class = "form-horizontal p-15" }))
                        {
                            @Html.AntiForgeryToken()
                            <input type="submit" value="Submitter" class="btn btn-default max-width" />

                        }
                    </div>
                </div>
            </div>
            <!--<div class="col-md-4">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })*/
                </section>
            </div>-->
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
